@mixin defineColor($class, $color) {
    .c-#{$class} {
        color: $color !important;
    }
    .c-#{$class}-event:hover,
    .c-#{$class}-event:active,
    .c-#{$class}-event:focus {
        color: $color !important;
    }
    .bgc-#{$class} {
        background-color: $color !important;
    }
    .bgc-#{$class}-event:hover,
    .bgc-#{$class}-event:active,
    .bgc-#{$class}-event:focus {
        background-color: $color !important;
    }
    .bdc-#{$class} {
        border-color: $color !important;
    }
    .bdc-#{$class}-event:hover,
    .bdc-#{$class}-event:active,
    .bdc-#{$class}-event:focus {
        border-color: $color !important;
    }
}
@include defineColor('azul', $azul);
@include defineColor('azul-escuro', $azul-escuro);
@include defineColor('azul-claro', $azul-claro);
@include defineColor('cinza', $cinza);
@include defineColor('cinza-claro', $cinza-claro);
@include defineColor('branco', $branco);
@include defineColor('azul-gradiente', $azul-gradiente);
@include defineColor('preto', $preto);

