
//sass --watch sass/main.scss:css/styles.css

@media screen and (min-width: $xs) {

#header{
    header{
        background-image: linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%);;
    }
    .conteudo-menu{
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.nav-f{
    position: fixed;
    background-color: #2C7AED;
    z-index: 999;
}
#menu{
    display: block;
    position: fixed;
    width: 100%;
    top: 60px;
    right: 0px;
    z-index: 1000;
    background-image: linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%);
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
    ul{
        align-items: center;
        li{
            padding: 30px;
            border-bottom: 1px solid $preto;
        }
        a{
            color: $branco;
            padding-left: 15px;
        }
    }
    .btn-m{
        border: 1px solid $preto;
        border-radius: 8px;
        margin: 10px;
        button{
            color: $azul-escuro;
        }
    }


}
#res02, #res03, #res04{
    display: none;
}
#nav.active #menu{
    height: 100%;
    visibility: visible;
    overflow-y: auto;
}
#destaque{
    padding-top:10px ;
    h2{
        color: $cinza;
    }
    h1{
        color: $azul-escuro;
    }
    p{
        color: $cinza;
    }
    img{
        margin-bottom: 30px;
    }
    .btn{
        background-color: $azul-claro;
        color: $branco;
    }
}
#recurso{
    padding-top: 40px;
}
#video{
    position: relative;
    padding-top: 40px;
    img{
        cursor: pointer;
    }
    #modal{
        display: none;
        position: fixed;
        top: 0; 
        left: 0;
        background-color: rgba($color: #0B1F3B, $alpha: 0.6);
        z-index: 1001;
        .cont-modal{
            transform: translate(calc(50vw - 50%), calc(50vh - 50%));
            padding: 80px 15px 50px 15px;
            background-image: $azul-gradiente;
            border-radius: 8px;
            width: 100;
            iframe{
                height: 350px;

            }
            .btn{
                position: absolute;
                top: 20px;
                right: 30px;
            }
        }
    }

    h2{
        margin-bottom: 40px;
        font-size: 25px;
    }
}
#planos{
    padding-top: 40px;
    padding-bottom: 40px;
    h2{
        font-size: 25px;
    }
}
#tabela{
    padding-top: 32px;
    padding-bottom: 32px;
    .tab{
        cursor: pointer;
        padding: 24px;
        border: 1px solid #CED1D5;
        box-sizing: border-box;
        border-radius: 16px;
        margin-bottom: 10px;
        h2{
            color: $azul;
            span{
                color: $cinza;
            }
        }
        h3{
            color: $azul-escuro;
        }
        p{
            color: $cinza;
            font-weight: 500;
            font-size: 12px;
            line-height: 200%;
        }
        .tab-p{
            color: $azul-escuro;
        }
    }

}
#clientes{
    h2{
        font-family:'Fredoka One', cursive !important;
    }
}
#slider{
    img{
        max-height: 128px;
    }
    padding-top: 40px;
    padding-bottom: 40px;
    .flickity-viewport{
        height: 120px;
    }
}
#new{
    @include bg-img("bg-new-mob.png");
    padding-top: 103px;
    padding-bottom: 103px;
    input{
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
    }
}
#duvida{
    padding-top: 40px;
    padding-bottom: 40px;
}
#perguntas{
    padding: 20px;
    background-image: $azul-gradiente;
    border-radius: 16px;
    p{
        margin-bottom: 6px;
        padding-left: 10px;
    }
    h2{
        margin-bottom: 14px;
    }
}
footer{
    padding-bottom: 50px;
    .svg-s{
        cursor: pointer;
        display: none;
        z-index: 999;
        position: fixed;
        top: 80vh;
        left: 80vw;
        a:hover:before {
            visibility: hidden;
          }
        svg{
            path{
                fill: $azul-escuro;
            }
            &:hover{
                path{
                    fill: $azul-claro;
                    transition: 0.6s;
                }
            }
        }
    }
    .wpp{
        position: fixed;
        top: 90vh;
        left: 80vw;
        cursor: pointer;
        svg{
            path{
                fill: green;
            }
            &:hover{
                path{
                    fill: $azul-claro;
                    transition: 0.6s;
                }
            }
        }

    }
    .f1{
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #CED1D5;
    }
    .f2{
        padding-top: 50px;
    }
    h1{
        color: $azul-escuro;
    }
    h2{
        color: $azul-escuro;
        padding-left: 5px;
    }
    p{
        color: $azul-escuro;
    }
    ul{
        li{
            a{
                color: $azul-escuro;
                padding: 5px;
                transition: 0.5s;
                &:hover{
                    color: $branco;
                    background-color: $azul-escuro;
                    border-radius: 8px;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
            }
            }
        }
    }

}

}
@media screen and (min-width: $md){
    
    #header{
        header{
            background-image: none;
        }
        .btn{
            padding: 16px 0px;
        }
        #menu{
            display: flex;
            padding: 10px;
            background-color: $branco;
            border-radius: 8px;
            position: static;
            background-image: none;
            visibility: visible;
            overflow-y: visible;
            height: 100%;
            transition: 0s;
             ul{
                 color: $azul;
                 li{
                     border-bottom: none;
                     padding: 0px;
                 }
             }
            
            a{
                color: $azul-escuro;
                padding: 3px 10px;
                &:hover{
                    color: $azul-claro;
                }
            }
        }
        button{
            background-image: linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%);
            color: $azul-escuro;
            transition: 0.6s;
            &:hover{
                color: $azul-claro;
                background-image: none;
                background-color: white;
                border: 1px solid $azul;
            }
        }
        
        .conteudo-menu{
            padding: 10px;
        }
    }
    #destaque{
        padding-top: 320px;
        margin-top: -306px;
        @include bg-img('bg-destaque.png');
        background-position: left;
        background-size: contain;
        .cont-dest{
            padding-top: 30px;
        }
        h2{
            color: $branco;
        }
        h1{
            color: $branco;
        }
    }
    #recurso{
        padding-top: 40px;
        padding-bottom: 30px;
        position: relative;
        .img-rec{
            position: absolute;
            top: 300px;
            left: 0;
            z-index: -1;
        }
    }
    #recurso02{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    #recurso03{
        position: relative;
        padding-top: 50px;
        padding-bottom: 30px;
        p{
            margin-bottom: -20px;
        }
        .img-rec{
            position: absolute;
            right: 0;
            top: -50px;
            width: 350px;
            z-index: -1;
        }
        .rec-03{
            p{
               font-size: 10px; 
            }
        }
    }
    #video{
        #modal{
            iframe{
                height: 400px;
        }
        }
        padding-top: 80px;
        h2{
            margin-bottom: 80px;
        }
    }
    #planos{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #tabela{
        .active-p{
            height: 110%;
            top: -20px;
        }
    }
    #clientes{
        h2{
            font-size: 31px;
        }
        padding-top: 90px;
        padding-bottom: 90px;
    }
    #slide{
        padding-bottom: 40px;
        img{
            width: 128px;
            height: 128px;
        }
        .flickity-viewport{
            height: 120px;
        }
        .flickity-prev-next-button.previous{
            left: -90px;
            top: 60px;
        }
        .flickity-prev-next-button.next{
            right: -90px;
            top: 60px;
        }
    }
    #new{
        @include bg-img('bg-new.png');
        padding-top: 129px;
        padding-bottom: 129px;
        p{
            font-size: 20px;
        }
    }
    #duvida{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    footer{
        @include bg-img('bg-footer.png');
        background-size: contain;
        background-position:left;
        padding-top: 160px;

        .svg-s{
            top: 85vh;
            left: 90vw;
        }
        .wpp{
            top: 85vh;
            left: 60px;
        }

        .p-cont{
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                color: $azul;
            }
        }
        .icons{
            svg{
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    rect{
                        fill: #30405a;
                        
                    }

                }
            }
        }
        h1{
            color: $branco;
        }
        h2{
            color: $branco;
        }
        p{
            color: $branco;
        }
    }
    
}

@media screen and (min-width: $lg) {
   #header{
       header{
           background-image: none;
       }
       padding: 40px 0px;
       #menu{
           padding: 10px;
       }

  
   }
   #destaque{
    p{
        color: $branco;
    }
   }
   #video{
       #modal{
           .cont-modal{
               width: 50% !important;
           }
       }
   }
   #recurso{
    padding-top: 90px;
    padding-bottom: 80px;
    }
    #recurso03{
        padding-top: 176px;
        padding-bottom: 80px;
        .img-rec{
            width: 700px;
        }
        .rec-03{
            p{
                font-size: 16px;
            }
        }

    }
   .logo{
    background-image: none;
    }
}