@media screen and (min-width: $xs) {
    h1{
        font-family:'Fredoka One', cursive;
        font-size: 25px;
        line-height: 130%;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 130%;
}

    .h5{
        font-family:'Fredoka One', cursive;
        font-size: 25px;
        line-height: 130%;
    }
    .h3{
        font-size: 31px;
        line-height: 130%;
    }
    .h2{
        font-family:'Fredoka One', cursive;
        font-size: 20px;
        line-height: 130%;
    }
    .h4{
        font-size: 31px;
        line-height: 130%;
        font-family:'Fredoka One', cursive;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 130%;
}
.p-footer{
    font-family:'Fredoka One', cursive;
    font-size: 16px;
    line-height: 130%;
}

    li{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 130%;
        list-style: none;
    }
    button{
        font-family: 'Fredoka One', cursive;
        font-size: 16px;
        line-height: 160%;
    
}
.tab-fre{
    font-size: 28px;
    line-height: 34px;
    font-family:'Fredoka One', cursive;
}
.tab-mon{
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    font-family: 'Montserrat', sans-serif;
}
.tab-p{
    font-size: 12px;
    line-height: 200%;
    font-family:'Fredoka One', cursive;
}
}

@media screen and (min-width: $md) {
    h1{
        font-family:'Fredoka One', cursive;
        font-size: 39px;
        line-height: 130%;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 130%;
    }
}

