$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
$azul: #2C7AED;;
$azul-escuro:#0B1F3B;
$azul-claro: #4BC3CC;
$azul-gradiente: linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%);
$preto: #000000;
$branco: #FFFFFF;
$cinza: #44494f;
$cinza-claro: #CED1D5;